iPhoneTracking.xcodeproj/project.xcworkspace/xcuserdata/adam.xcuserdatad/UserInterfaceState.xcuserstate
iPhoneTracking.xcodeproj/xcuserdata/adam.xcuserdatad/xcschemes/iPhoneTracker.xcscheme
iPhoneTracking.xcodeproj/xcuserdata/adam.xcuserdatad/xcschemes/xcschememanagement.plist